/* app.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

/* Dark theme colors */
:root {
  --bg-dark: #1e2a47; /* Dark Navy Blue */
  --text-dark: #ffffff;
  --card-dark: #2a3a5a; /* Off white card */
}


body {
  background-color: black;
  color: var(--text-dark);
}

button {
  transition: all 0.3s ease;
}

/* Hover effects for buttons */
button:hover {
  transform: scale(1.05);
  background-color: #4f5d73; /* Lighter shade on hover */
}

/* Specific button color and hover for the 'Save' button */
button.bg-violet-800:hover {
  background-color: #5a67d8;
}

.todo {
  background-color: var(--card-dark);
  border-radius: 0.5rem;
}

h1, h2 {
  color: var(--text-dark);
}

/* Animation for buttons */
@keyframes button-hover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}

button:hover {
  animation: button-hover 0.2s forwards;
}
